* {
    box-sizing: border-box;
}

.select-box--box {
    width: 288px;
    height: 50px;
    border-radius: 25px;
    position: relative;
    overflow: vissible;
}

.select-box--box-tow {
    width: 110px;
    height: 35px;
    border-radius: 25px;
    position: relative;
    overflow: vissible;
}


.select-box--container {
    background: #fff;
    border-radius: 25px;
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-left: 12px;
    color: #8a8a8a;
    font-weight: 500;
    width: 288px;
    height: 50px;
    width: 100%; 
}

.select-box--container-two {
    background: #fff;
    border-radius: 50px;
    border: none;
    margin-top: 9px;
    padding-top: 8px;
    padding-left: 14px;
    color: #464545;
    font-size: 14px;
    font-weight: 500;
    height: 35px;
    width: 100%; 
}

.select-box--selected-item {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.select-box--items div {
    background: #fff;
    color: #8a8a8a;
    margin-right: 12px;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.select-box--items-two div {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background: #fff;
    color: #8a8a8a;
    margin-right: 12px;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.select-box--items div:hover {
    background-color: #e0ecd3;
    color: #fff;
}

.select-box--items-two div:hover {
    background-color: #e0ecd3;
    color: #fff;
}

.select-box--arrow {
    width: 30px;
    height: 30px;
    margin-top: 9px;
    margin-right: 7px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.select-box--arrow-two {
    width: 30px;
    height: 30px;
    margin-top: 3px;
    margin-right: 2px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.select-box--arrow-down {
    position: absolute;
    top: 12px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 9px solid #8a8a8a;
}

.select-box--arrow-up {
    position: absolute;
    top: 10px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 9px solid #8a8a8a;
}

@media (max-width: 575px) {
    .select-box--box {
        width: 304px;
        height: 50px;
        border-radius: 25px;
        position: relative; 
        overflow: vissible;
    }
    
    .select-box--container {
        background: #fff;
        border-radius: 25px;
        border: 1px solid #ddd;
        padding-top: 12px;
        padding-left: 12px;
        color: #8a8a8a;
        font-weight: 500;
        width: 304px;
        height: 50px;
        width: 100%; 
    }
}

@media (min-width: 576px) {
    .select-box--box {
        width: 240px;
        height: 50px;
        border-radius: 25px;
        position: relative; 
        overflow: vissible;
    }
    
    .select-box--container {
        background: #fff;
        border-radius: 25px;
        border: 1px solid #ddd;
        padding-top: 12px;
        padding-left: 12px;
        color: #8a8a8a;
        font-weight: 500;
        width: 240px;
        height: 50px;
        width: 100%; 
    }
}

@media (min-width: 768px) {
    .select-box--box {
        width: 320px;
        height: 50px;
        border-radius: 25px;
        position: relative;
        overflow: vissible;
    }
    
    .select-box--container {
        background: #fff;
        border-radius: 25px;
        border: 1px solid #ddd;
        padding-top: 12px;
        padding-left: 12px;
        color: #8a8a8a;
        font-weight: 500;
        width: 320px;
        height: 50px;
        width: 100%; 
    }
}

@media (min-width: 992px) {
    .select-box--box {
        width: 240px;
        height: 50px;
        border-radius: 25px;
        position: relative;
        overflow: vissible;
    }
    
    .select-box--container {
        background: #fff;
        border-radius: 25px;
        border: 1px solid #ddd;
        padding-top: 12px;
        padding-left: 12px;
        color: #8a8a8a;
        font-weight: 500;
        width: 240px;
        height: 50px;
        width: 100%; 
    }

    .select-box--box-tow {
        width: 155px;
        height: 35px;
        border-radius: 25px;
        position: relative;
        overflow: vissible;
    } 
}

@media (min-width: 1200px) {
    .select-box--box {
        width: 288px;
        height: 50px;
        border-radius: 25px;
        position: relative;
        overflow: vissible;
    }
    
    .select-box--container {
        background: #fff;
        border-radius: 25px;
        border: 1px solid #ddd;
        padding-top: 12px;
        padding-left: 12px;
        color: #8a8a8a;
        font-weight: 500;
        width: 288px;
        height: 50px;
        width: 100%; 
    }

    .select-box--box-tow {
        width: 155px;
        height: 35px;
        border-radius: 25px;
        position: relative;
        overflow: vissible;
    }    
}